
.align{
  display: flex;
  background-color: #00BFA5 ;
  height: 17.5vh;
  color: white;
}

h5{
  position: relative;
  top:55%;
  left: 7.5%;
}

.profile{
  text-align: center;
}

.text{
  opacity: 0;
}

.pic:hover img{
  opacity: 0.3;
}

.pic:hover .text{
  opacity: 1;
  transition: .8s ease;
  color: grey;
}

.name{
  text-align: left;
  padding: 10px;
  color: #14FFAD;
  background-color: #F7F7F7;
}

.misc{
  text-align: left;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

.image-m{
  background-image: url(profile.jpg);
  height: 82vh;
  width: 70vw;
  background-size: cover;
}
